pkgbase = fbx-sdk
	pkgdesc = Platform and API toolkit to transfer existing content into the FBX format.
	pkgver = 2020.0.1
	pkgrel = 1
	url = http://www.autodesk.com/products/fbx/overview
	install = fbx-sdk.install
	arch = i686
	arch = x86_64
	license = custom
	source = https://www.autodesk.com/content/dam/autodesk/www/adn/fbx/2020-0-1/fbx202001_fbxsdk_linux.tar.gz
	md5sums = 4771622b5a55fcbf9ff26a140e2e110d

pkgname = fbx-sdk

